numpy
pandas
scipy

matplotlib
plotly
seaborn
missingno

scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn

optuna
shap

joblib

fastapi
uvicorn[standard]
pydantic
python-multipart

python-dotenv

jupyter
ipykernel
notebook

pytest

tqdm

